.mat-mdc-card-outlined {
    margin: 0;
}

.mat-mdc-card-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-mdc-card-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-and-sort {
    margin: 1rem;
    justify-content: space-between;
}

.price-filter {
    display: grid;
    justify-content: center;
}

.price-slider {
    margin-top: 0px;
}

.loading-spinner {
    margin-left: auto;
    margin-right: auto;
}

.expander-tab {
    display: flex
}

.expansion-panel {
    flex: 15
}

.save-button {
    flex: 1
}

.expansion-header{
    display: flex
}

.time-info {
    flex: 2
}