<p>Viewing flights from {{this.search.origin.name}}, {{this.search.origin.stateCode}} to {{this.search.destination.name}}, {{this.search.destination.stateCode}} on {{this.searchDateString}}</p>
<div class="filter-and-sort">
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>Sort and Filter</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-grid-list cols="3" rowHeight="14rem">
            <mat-grid-tile>
                <div class="filter">
                    <div class="price-filter">
                        <mat-label>Filter by Price</mat-label>
                        <mat-slider min="0" [max]="maxPrice" [discrete]="true" (input)="filterByPrice()" class="price-slider">
                            <input [(ngModel)]="selectedMaxPrice" matSliderThumb>
                        </mat-slider>
                        <p *ngIf="selectedMaxPrice === maxPrice">Showing all prices</p>
                        <p *ngIf="selectedMaxPrice !== maxPrice">Showing prices up to ${{selectedMaxPrice}}</p>
                        <section>
                            <mat-checkbox [(ngModel)]="filterEconomy" (click)="onFareClassFilterChange()">Economy</mat-checkbox>
                            <mat-checkbox [(ngModel)]="filterBusiness" (click)="onFareClassFilterChange()">Business</mat-checkbox>
                            <mat-checkbox [(ngModel)]="filterFirst" (click)="onFareClassFilterChange()">First</mat-checkbox>
                        </section>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="filter">
                    <mat-form-field>
                        <mat-label>Filter by Airline</mat-label>
                        <mat-select [(ngModel)]="this.filter.selectedAirlines" (selectionChange)="filterByAirline()" multiple>
                            <mat-select-trigger>
                                @if (this.filter.selectedAirlines.length === 3) {
                                    <span>All Airlines</span>
                                } @else if (this.filter.selectedAirlines.length > 0) {
                                    <span>{{this.filter.selectedAirlines.join(", ")}}</span>
                                }
                            </mat-select-trigger>
                                <mat-option *ngFor="let airline of availableAirlines" [value]="airline">{{airline}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="filter">
                    <mat-form-field>
                        <mat-label>Sort By</mat-label>
                        <mat-select [(ngModel)]="this.sortOption" (selectionChange)="sortFlights()">
                            <mat-option value="price">Price</mat-option>
                            <mat-option value="duration">Duration</mat-option>
                            <mat-option value="departureTime">Departure Time</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
        </mat-grid-list>

    </mat-expansion-panel>
</div>
<mat-spinner *ngIf="this.loading" [diameter]="50" class="loading-spinner"></mat-spinner>
<div class="flight-selection">
    <mat-accordion multi>
        @for (flight of availableFlights; track flight.id) {
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>{{convertTime(flight.departureTime)}} - {{convertTime(flight.arrivalTime)}}</mat-panel-title>
                    <mat-panel-description>{{convertDuration(flight.duration)}}</mat-panel-description>
                    <mat-panel-description>
                        {{flight.originCode}} 
                        <mat-icon aria-hidden="false" fontIcon="trending_flat"></mat-icon>
                        {{flight.destinationCode}}
                    </mat-panel-description>
                    <mat-panel-description>{{flight.airline}}</mat-panel-description>
                    <mat-panel-description>${{getDisplayPrice(flight)}}</mat-panel-description>
                </mat-expansion-panel-header>
                <mat-grid-list cols="3" rowHeight="15rem">
                    <mat-grid-tile>
                        <mat-card appearance="outlined">
                            <mat-card-header>
                                <mat-card-title>Economy Class</mat-card-title>
                                <mat-card-subtitle>${{flight.economyPrice}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <div>Depart: {{convertTime(flight.departureTime)}}</div>
                                <div>Arrive: {{convertTime(flight.arrivalTime)}}</div>
                                <div>Duration: {{convertDuration(flight.duration)}}</div>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-stroked-button (click)="selectFlight(flight.id, 'Economy')">Select</button>
                            </mat-card-actions>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card appearance="outlined">
                            <mat-card-header>
                                <mat-card-title>Business Class</mat-card-title>
                                <mat-card-subtitle>${{flight.businessPrice}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <div>Depart: {{convertTime(flight.departureTime)}}</div>
                                <div>Arrive: {{convertTime(flight.arrivalTime)}}</div>
                                <div>Duration: {{convertDuration(flight.duration)}}</div>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-stroked-button (click)="selectFlight(flight.id, 'Business')">Select</button>
                            </mat-card-actions>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card appearance="outlined">
                            <mat-card-header>
                                <mat-card-title>First Class</mat-card-title>
                                <mat-card-subtitle>${{flight.firstPrice}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <div>Depart: {{convertTime(flight.departureTime)}}</div>
                                <div>Arrive: {{convertTime(flight.arrivalTime)}}</div>
                                <div>Duration: {{convertDuration(flight.duration)}}</div>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-stroked-button (click)="selectFlight(flight.id, 'First')">Select</button>
                            </mat-card-actions>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-expansion-panel>
        } @empty {
            <p>No flights found.</p>
        }    
    </mat-accordion>
</div>