.mat-mdc-card-outlined {
    margin: 0;
}

.mat-mdc-card-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-mdc-card-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-and-sort {
    margin: 1rem;
}

.filter {
    flex: 1;
}

.filters {
    display: flex;
    justify-content: space-between;
}

.price-filter {
    display: grid;
    justify-content: center;
}

.price-slider {
    margin-top: 0px;
}

.filter-card {
    width: 75%;
    height: 100%;
}