<h3>Welcome Version 3</h3>

<p>Flight Browser</p>
<mat-grid-list cols="8" rowHeight="5rem">
    <mat-grid-tile>
        <mat-form-field>
            <mat-label>Origin</mat-label>
            <select [(ngModel)]="search.origin" matNativeControl required [formControl]="originFormControl">
                <option label="---"></option>
                <option *ngFor="let city of flightData.cities" [ngValue]="city">{{ city.name }}, {{ city.stateCode }}</option>
            </select>
            @if (originFormControl.hasError('required')) {
                <mat-error>This field is required</mat-error>
            }
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <mat-label>Destination</mat-label>
            <select [(ngModel)]="search.destination" matNativeControl required [formControl]="destinationFormControl">
                <option label="---"></option>
                <option *ngFor="let city of flightData.cities" [ngValue]="city">{{ city.name }}, {{ city.stateCode }}</option>
            </select>
            @if (destinationFormControl.hasError('required')) {
                <mat-error>This field is required</mat-error>
            }
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <mat-label>Date</mat-label>
            <select [(ngModel)]="search.departureDate" matNativeControl required [formControl]="dateFormControl">
                <option label="---"></option>
                <option *ngFor="let date of dates">{{ date }}</option>
            </select>
            @if (dateFormControl.hasError('required')) {
                <mat-error>This field is required</mat-error>
            }
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="filter">
            <mat-form-field>
                <mat-label>Filter by Airline</mat-label>
                <mat-select [(ngModel)]="this.filter.selectedAirlines" (selectionChange)="onSelect()" multiple>
                    <mat-select-trigger>
                        @if (this.filter.selectedAirlines.length === 3) {
                            <span>All Airlines</span>
                        } @else {
                            <span>{{this.filter.selectedAirlines.join(", ")}}</span>
                        }
                    </mat-select-trigger>

                        <mat-option *ngFor="let airline of ['American', 'Delta', 'United']" [value]="airline">{{airline}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <mat-label>Sort By</mat-label>
            <mat-select [(ngModel)]="this.sortOption">
                <mat-option value="price">Price</mat-option>
                <mat-option value="duration">Duration</mat-option>
                <mat-option value="departureTime">Departure Time</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    
</mat-grid-list>

<div class="searchButton">
    <button mat-flat-button (click)="updateSearch()" [routerLink]="['/select']" [disabled]="originFormControl.hasError('required') || destinationFormControl.hasError('required') || dateFormControl.hasError('required')">View Flights</button>
</div>
