<mat-grid-list cols="5" rowHeight="5rem" class="searchForm">
    <mat-grid-tile>
        <mat-form-field>
            <mat-label>Origin</mat-label>
            <select [(ngModel)]="search.origin" matNativeControl required [formControl]="originFormControl">
                <option label="---" [value]="this.emptyCity"></option>
                <option *ngFor="let city of flightData.cities" [ngValue]="city">{{ city.name }}, {{ city.stateCode }}</option>
            </select>
            @if (originFormControl.hasError('required')) {
                <mat-error>This field is required</mat-error>
            }
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <mat-label>Destination</mat-label>
            <select [(ngModel)]="search.destination" matNativeControl required [formControl]="destinationFormControl">
                <option label="---" [value]="this.emptyCity"></option>
                <option *ngFor="let city of flightData.cities" [ngValue]="city">{{ city.name }}, {{ city.stateCode }}</option>
            </select>
            @if (destinationFormControl.hasError('required')) {
                <mat-error>This field is required</mat-error>
            }
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput [min]="minDate" [matDatepicker]="datepicker" [(ngModel)]="date" required [formControl]="dateFormControl">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
            </mat-datepicker>
            @if (dateFormControl.hasError('required')) {
                <mat-error>This field is required</mat-error>
            }
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="filter">
            <mat-form-field class="airlineForm">
                <mat-label>Filter by Airline</mat-label>
                <mat-select [(ngModel)]="this.filter.selectedAirlines" (selectionChange)="onSelect()" multiple>
                    <mat-select-trigger>
                        @if (this.filter.selectedAirlines.length === 3) {
                            <span>All Airlines</span>
                        } @else {
                            <span>{{this.filter.selectedAirlines.join(", ")}}</span>
                        }
                    </mat-select-trigger>

                        <mat-option *ngFor="let airline of ['American', 'Delta', 'United']" [value]="airline">{{airline}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <mat-label>Sort By</mat-label>
            <mat-select [(ngModel)]="this.sortOption">
                <mat-option value="price">Price</mat-option>
                <mat-option value="duration">Duration</mat-option>
                <mat-option value="departureTime">Departure Time</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    
</mat-grid-list>