<p>Please enter your personal information</p>
<mat-grid-list cols="4" rowHeight="20rem">
    <mat-grid-tile colSpan="1">
        <div class="form-container">
            <mat-form-field>
                <input 
                    matInput 
                    placeholder="First Name"
                    [formControl]="firstName"
                    [errorStateMatcher]="errorStateMatcher"
                    required
                />
                @if (firstName.hasError('required') && (firstName.dirty || firstName.touched)) {
                    <mat-error>This field is required</mat-error>
                }
                @if (firstName.hasError('pattern') && (firstName.dirty || firstName.touched)) {
                    <mat-error class="name-error">Name can only have alphabetical characters, spaces, apostrophes, and hyphens</mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <input 
                    matInput 
                    placeholder="Last Name"
                    [formControl]="lastName"
                    [errorStateMatcher]="errorStateMatcher"
                    required
                />
                @if (lastName.hasError('required') && (lastName.dirty || lastName.touched)) {
                    <mat-error>This field is required</mat-error>
                }
                @if (lastName.hasError('pattern') && (lastName.dirty || lastName.touched)) {
                    <mat-error class="name-error">Name can only have alphabetical characters, spaces, apostrophes, and hyphens</mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <input 
                    matInput 
                    placeholder="Email"
                    [formControl]="email"
                    [errorStateMatcher]="errorStateMatcher"
                    required
                    email
                />
                @if (email.hasError('required') && (email.dirty || email.touched)) {
                    <mat-error>This field is required</mat-error>
                }
                @if (email.hasError('email') && (email.dirty || email.touched)) {
                    <mat-error>Please enter a valid email</mat-error>
                }
            </mat-form-field>   
       </div>
    </mat-grid-tile>
    <mat-grid-tile colSpan="1">
        <div class="reservation-details">
            <mat-card appearance="outlined">
                <mat-card-content>
                    <div style="text-align: center; margin-bottom: 1rem;">
                        <b>Flight Details</b>
                    </div>
                    <div style="margin-bottom: 1rem;">
                        <b>{{bookedFlight.airline}} Flight {{bookedFlight.id}}</b> <br>
                        <b>{{bookedFlight.origin.name}}, {{bookedFlight.origin.stateCode}} to {{bookedFlight.destination.name}}, {{bookedFlight.destination.stateCode}}</b>
                    </div>
                    <div>{{dateString}} {{convertTime(bookedFlight.departureTime)}} - {{convertTime(bookedFlight.arrivalTime)}}</div>
                    <div>Class: {{booking.fareClass}}</div>
                    <div>Price: ${{flightPrice}}</div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-grid-tile>
</mat-grid-list>
