<h1>Reserve Your Flight</h1>
<p>Please enter your personal information</p>
<mat-form-field>
    <input 
        matInput 
        placeholder="First Name"
        [formControl]="firstName"
        required
    />
    @if (firstName.hasError('required')) {
        <mat-error>This field is required</mat-error>
    }
    @if (firstName.hasError('pattern')) {
        <mat-error class="name-error">Name can only have alphabetical characters, spaces, apostrophes, and hyphens</mat-error>
    }
</mat-form-field>
<mat-form-field>
    <input 
        matInput 
        placeholder="Last Name"
        [formControl]="lastName"
        required
    />
    @if (lastName.hasError('required')) {
        <mat-error>This field is required</mat-error>
    }
    @if (lastName.hasError('pattern')) {
        <mat-error class="name-error">Name can only have alphabetical characters, spaces, apostrophes, and hyphens</mat-error>
    }
</mat-form-field>
<mat-form-field>
    <input 
        matInput 
        placeholder="Email"
        [formControl]="email"
        required
        email
    />
    @if (email.hasError('required')) {
        <mat-error>This field is required</mat-error>
    }
    @if (email.hasError('email')) {
        <mat-error>Please enter a valid email</mat-error>
    }
</mat-form-field>
<div>
    <button mat-flat-button [routerLink]="['/select']">Cancel</button>
    <button mat-stroked-button (click)="createBooking()" [routerLink]="['/confirm']" [disabled]="firstName.hasError('required') || lastName.hasError('required') || email.hasError('required') || email.hasError('email') || firstName.hasError('pattern') || lastName.hasError('pattern')">Reserve Flight</button>
</div>
