.name-error {
    width: 300%;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
}

::ng-deep mat-grid-tile .mat-figure {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.reservation-details {
    width: 25%;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    margin-bottom: 2rem;
}

.form-list {
    margin-bottom: 1rem;
}