<mat-horizontal-stepper #stepper [(selectedIndex)]="selectedIndex">
    <mat-step [completed]="!this.disableSearchButton" [editable]="true">
        <ng-template matStepLabel>Search for flights</ng-template>
        <app-flight-search (formIsValid)="searchFormStatusChange($event)"></app-flight-search>
        <button (click)="searchFlights()" [disabled]="this.disableSearchButton" mat-flat-button matStepperNext>Search</button>
    </mat-step>
    <mat-step [completed]="this.flightSelected" [editable]="true">
        <ng-template matStepLabel>Select a flight</ng-template>
        <app-flight-selector (flightSelected)="flightSelectedEvent($event)"></app-flight-selector>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Provide passenger information</ng-template>
        <app-flight-reservation></app-flight-reservation>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Confirm reservation</ng-template>
        <app-booking-confirmation></app-booking-confirmation>
    </mat-step>
</mat-horizontal-stepper>