.reservation-details {
    width: 25%;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    padding-bottom: 1rem;
}

/*.mat-mdc-card {
    align-items: center;
    justify-content: center;
    text-align: center;
} */