<div class="reservation-details">
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>Reservation Details</mat-card-title>
            <mat-card-title>Reservation Code: {{booking.bookingCode}}
                <button ngxClipboard [cbContent]="booking.bookingCode" mat-icon-button matTooltip="Copy booking code to clipboard">
                    <mat-icon>content_copy</mat-icon>   
                </button>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>Date: {{dateString}}</div>
            <div>Flight: {{bookedFlight.airline}} {{bookedFlight.originCode}} to {{bookedFlight.destinationCode}}</div>
            <div>Depart: {{convertTime(bookedFlight.departureTime)}}</div>
            <div>Arrive: {{convertTime(bookedFlight.arrivalTime)}}</div>
            <div>Class: {{booking.fareClass}}</div>
            <div>Price: ${{farePaid}}</div>
            <div>Passenger: {{booking.firstName}} {{booking.lastName}}</div>
            <div>Email: {{booking.email}}</div>
        </mat-card-content>
        <mat-card-content style="font-size: 10px; line-height: 1.25;">
            <div>Important: Please be sure you have copied your reservation code before exiting the page. You will need it later to change details of your flight.</div>
        </mat-card-content>
    </mat-card>
</div>