<h3>Recover Booking Code</h3>
<p>Enter your email:</p>
<div class="EmailForm">
    <mat-form-field>
        <input [(ngModel)]="email" matInput>
    </mat-form-field>
</div>
<div>
    <p>Enter flight departure date:</p>
    <mat-form-field>
        <input matInput [min]="minDate" [matDatepicker]="datepicker" [(ngModel)]="date" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
            </mat-datepicker>
    </mat-form-field>
</div>
<button mat-stroked-button (click)="searchBookings()">Search</button>

<div *ngIf="codesVisible">
    <p><b>Matching flights</b></p>
    <p *ngFor="let data of codesData">
        {{data.flight.originCode}}
        <mat-icon aria-hidden="false" fontIcon="trending_flat"></mat-icon>
        {{data.flight.destinationCode}}, {{dateToString(date)}} {{convertTime(data.flight.departureTime)}}     <b>{{data.booking.bookingCode}}</b>
    </p>
    @if (codesData.length == 0) {
        <p>No reservations found.</p>
    }
</div>